:root {

    /* COLORS */

    --color-dark: #11110F;

    --color-primary: #11110F;
    --color-primary-hover: #272721;

    --color-red: #FC4122;
    --color-red-hover: #E3361A;

    --color-gold: #E7AC06;
    --color-gold-dark: #E79406;

    --color-olive: #72931E;
    --color-olive-dark: #587216;

    --color-mint: #A5CFBB;
    --color-mint-dark: #74A58D;

    --color-secondary: #72931E;
    --color-secondary-light: #E7AC06;

    --color-accent: #FC4122;
    --color-accent-hover: #E3361A;

    --color-background: #FFFFFF;
    --color-surface: #F7F7F3;

    --color-text: #11110F;
    --color-text-light: #62645E;

    --color-white: #FFFFFF;

    --color-border: #D9D9D2;


    /* TYPOGRAPHY */

    --font-body:
        "Inter",
        Arial,
        Helvetica,
        sans-serif;

    --font-heading:
        "Cormorant Garamond",
        Georgia,
        serif;


    /* FONT SIZE */

    --fs-small: 0.875rem;
    --fs-base: 1rem;
    --fs-medium: 1.25rem;


    /* SPACING */

    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 4rem;
    --space-xl: 7rem;


    /* LAYOUT */

    --container-width: 1200px;
    --container-padding: 1.5rem;


    /* BORDER */

    --radius-small: 6px;
    --radius-medium: 14px;
    --radius-large: 24px;


    /* SHADOWS */

    --shadow-small:
        0 12px 30px rgba(17, 17, 15, 0.08);

    --shadow-medium:
        0 24px 60px rgba(17, 17, 15, 0.18);


    /* TRANSITIONS */

    --transition: 0.25s ease;
}